<div id="search-results"></div>
<div class="jumbotron google-font text-center mt-3">
  <h1><%= @profile.first_name.capitalize %> <%= @profile.last_name.capitalize %></h1>
  </div>
  <div class="row google-font">
    <div class="col">
    <div class="card card-body ">
      <p> <%= @profile.street_address %></p>
      <p> <%= @profile.city %></p>
      <p> <%= @profile.postcode %></p>
      <p> <%= @profile.country %></p>
      <p> <%= @profile.phone %></p>
    </div>
  </div>
  

<div class="card google-font">
  <div class="card-body">
    <%# if @profile.orders.any? %>
      <p class="">Orders: <%#=  render @profile.orders %></p>
    <%# end %>
  </div>
  <div class="card-body product-options">
    <%= link_to 'In Store', root_path, class: "btn button-maroon " %>
    <%= link_to 'Categories', categories_path, class: "btn button-maroon " %>
    <% if current_user && current_user.admin? %>
      <%= link_to 'Products (Admin)', products_path, class: "btn btn-primary" %>
      <%= link_to 'Edit Profile', edit_product_path(@profile), class: "btn btn-primary" %>
      <%= link_to 'Delete Profile', product_path(@profile),  method: :delete, class: "btn btn-danger" %>
    <% end %>
    
  </div>
</div>

