<div class="row">
  <div class="col-12 card">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">User</th>
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Order Time</th>
        </tr>
      </thead>
      <tbody>
        
          <% @orders.each do |order| %>
          <tr scope="row">
          <td><%= order.user.name %></td>
          <td><%= order.product.name %></td>
          <td><%= order.quantity %></td>
          <td><%= order.created_at.getlocal.strftime("%e-%m-%y %H:%M") %></td>
          <td><%= link_to "View Order", order_path(order), class: "btn btn-success btn-sm" %></td>
           </tr>
        <% end %>
       
      </tbody>
    </table>
  </div>
</div>