<% obj.each do |product| %>
    <div class="card ml-3 mt-3 choose">
      <div class="card-body" >
          <div class="card-title">
            <p class="product-title google-font"> <%= product.name %> </p>
            <p><%= image_tag product.picture.url (:thumb) if product.picture?  %></p>
          </div>
          <div class="card-text google-font">
              <p><small>£</small> <%= product.price %></p>
          </div>
            <p> 
          <%= link_to "View / Order", product_path(product), class: "btn button-maroon google-font" %> 
          <% if current_user && current_user.admin? %>
            <%= link_to "Edit", edit_product_path(product), class: "btn btn-outline-warning google-font" %> 
            <%= link_to "Delete", product_path(product), class: "btn btn-outline-danger google-font", method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
          <% if product.categories.any? %>
            <p class="text-center object-color google-font"><span class="object-color">Category: </span><%= render product.categories %></p>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>