<div class="row">
  <div class="col-md-8 offset-2">
    <%= form_with(model: @product, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :price %>
        <%= f.number_field :price, class: 'form-control' %>
      </div>

      <div class="form-group">
          <%= f.label :category, class:"form-label float-left" %>
          <%= f.collection_select(:category_ids, Category.all, :id, :name,
          {prompt: "Select a Category below (It can be empty)"}, {multiple: true, class: "custom-select form-decoration"}) %>
        </div>

      <div class="form-group">
        <%= f.submit class: "btn btn-primary"%>
      </div>
      <%= link_to 'Back to Products List', products_path, class: "btn btn-warning" %>
    <% end %>
  </div>
</div>