<h1 class="jumbotron text-center">New Product</h1>

<div class="row">
  <div class="col-md-8 offset-2">
    <%= form_with(model: @product, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :price %>
        <%= f.number_field :price, class: 'form-control' %>
      </div>

      <%#= f.association :categories, collection: Category.all, as: :check_boxes, include_hidden: false %>

      <div class="form-group">
        <%= f.submit class: "btn btn-primary"%>
      </div>
      <%= link_to 'Back to Products List', products_path, class: "btn btn-warning" %>
    <% end %>
  </div>
</div>